# Descriptive and Inferential Statistics

In [1]:
# import pandas for structuring the data
import pandas as pd

# import numpy for numerical analysis
import numpy as np

# import libs for diagrams inline with the text
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# other utilities
from sklearn import datasets, preprocessing, metrics

In [105]:
df = pd.read_excel("Data/Haircut Tip Amounts.xlsx", header=2, usecols="A:F")
df.head()

C:\Users\Mathias\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

  Tip amount  Time   Day Culture Married   Age
0          0   5.0   Fri       I      NM  30.0
1          1   2.0   Tue       E      NM  10.0
2          1   7.0  Tues       I      NM  35.0
3          2   5.0   Mon       I      NM  35.0
4          2  12.0   Fri       M      NM  15.0

In [106]:
#Define types
df.dtypes

Tip amount     object
Time          float64
Day            object
Culture        object
Married        object
Age           float64
dtype: object

In [107]:
#Format all time entries
df.loc[df.Time < 10, "Time"] = df.Time +12
df.head()

  Tip amount  Time   Day Culture Married   Age
0          0  17.0   Fri       I      NM  30.0
1          1  14.0   Tue       E      NM  10.0
2          1  19.0  Tues       I      NM  35.0
3          2  17.0   Mon       I      NM  35.0
4          2  12.0   Fri       M      NM  15.0

In [108]:
#Rows to remove
df.isna().sum()

Tip amount    1
Time          2
Day           2
Culture       2
Married       2
Age           2
dtype: int64

In [109]:
#Remove rows that has empty values and irelevant values
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]
df = df.drop(rows_with_NaN.index.values)
df.isna().sum()

Tip amount    0
Time          0
Day           0
Culture       0
Married       0
Age           0
dtype: int64

In [110]:
#Find irregular rows from "Married" column and change value to mode
df.loc[(df.Married != "NM") & (df.Married != "M"), "Married"] = df["Married"].mode()
(df.Married == "kid").sum()

0

In [111]:
#Change column "Tip amount" to float type
df["Tip amount"] = df["Tip amount"].convert_dtypes()
df.dtypes

Tip amount    Float64
Time          float64
Day            object
Culture        object
Married        object
Age           float64
dtype: object

In [112]:
def preprocessor(df):
    processed_df = df.copy()
    le = preprocessing.LabelEncoder()
    processed_df['Married'] = le.fit_transform(df['Married'])
    processed_df['Culture'] = le.fit_transform(df['Culture'])
    processed_df['Day'] = le.fit_transform(df['Day'])
    return processed_df

In [113]:
#Change column "Married", "Day" and "Culture" to numeric types contained in a copy
preprocessor(df).dtypes

Tip amount    Float64
Time          float64
Day             int32
Culture         int32
Married         int32
Age           float64
dtype: object

In [114]:
df.dtypes

Tip amount    Float64
Time          float64
Day            object
Culture        object
Married        object
Age           float64
dtype: object